# Float Concept Hands-on

## Print sqaure in float

In [2]:
square = float(input())
print("Square:", square**2)

4.5
Square: 20.25

## Purchase Repair sale

In [1]:
purchase = float(input())
repair= float(input())
sold = float(input())
t_cost= purchase + repair
result = sold - t_cost
print(result)

50.25
1.5
65
13.25

## Total Change in Price

In [9]:
item1_23=50.25
item1_24=40.50
item2_23=50.75
item2_24=39.75
total_23= item2_23 - item1_23
total_24= item2_24 - item1_24
print("Change 1:" , total_23)
print('Change 2:', total_24)
total = total_24 + total_23
print(total)

Change 1: 0.5
Change 2: -0.75
-0.25

## Change per Year

In [12]:
item1= 100
item2 = 120
item3 = 142
percent1 = ((item2-item1)*100)/100
print("Percentage second year:", percent1)
percent2 = ((item3-item2)*100)/120
print("Percentage third year:", percent2 )

Percentage second year: 20.0
Percentage third year: 18.333333333333332

## Calculate Salary

In [15]:
House_rent = 30000 * 0.45
Med_allowance = 30000*0.1
Gross_salary = 30000 + House_rent + Med_allowance
Provident_fund = Gross_salary *0.05
Net_salary= Gross_salary - Provident_fund
print('Net salary:', Net_salary)

Net salary: 44175.0

## Academic Result

In [17]:
x1= int(input())
x2= int(input())
x3= int(input())
x4= int(input())
x5= int(input())
x6= int(input())
x7= int(input())
x8= int(input())
total = x1+x2+x3+x4+x5+x6+x7+x8

80
90
60
84
40
90
95
70

In [18]:
print('Eng:', x1, 100)
print('Urdu:', x2, 100)
print('Drawing:', x3,75)
print('Math :', x4, 100)
print('Sci:', x5, 75)
print('SST:', x6,100)
print('History :', x7, 100)
print('Phy.Edu:', x8, 100)
print('Total:', total)

Eng: 80 100
Urdu: 90 100
Drawing: 60 75
Math : 84 100
Sci: 40 75
SST: 90 100
History : 95 100
Phy.Edu: 70 100
Total: 609

## Multi_line Input

In [22]:
p1,p2,p3= map(int, input().split())

30 5 60

In [24]:
sum= p1+p2+p3 
print(sum)

95

### Use star between output

In [35]:
q1, q2, q3 = map(str, input().split())

6 8 5000

In [34]:
result= str(q1)+'*'+str(q2)+'*'+str(q3)
result

'6*8*5000'

In [36]:
result= q1+'*'+q2+'*'+q3
result

'6*8*5000'

### Sum of reciporal

In [ ]:
a= 1/5
b= 1/8
# sum of two numbers is numerator
5+8=13
# multiply of two numbers is denominator
5*8=40

### Calculate sui gas bill

In [42]:
units, rates,fixed_charges = map(int,input().split())
bill = (units*rates)+fixed_charges
print('TOTAL BILL', bill)

220 22 200
TOTAL BILL 5040

### Sales Receipt

In [43]:
p1, q1, d1 = map(int, input().split())
p2, q2, d2 = map(int, input().split())
p3, q3, d3 = map(int, input().split())

80 5 10
120 3 5
70 5 0

In [50]:
discount1 = (p1*q1)*0.10
item_1= (p1*q1)- discount1
print('Item 1:',item_1)

discount2 = (p2*q2)*0.05
item_2= (p2*q2)- discount2
print('Item 1:',item_2)

discount3 = (p3*q3)*0
item_3= (p3*q3)- discount3
print('Item 1:',item_3)

Total= item_1 + item_2 + item_3
print('Total amount:', Total)

Discount = Total*0.02
Net_amount = Total-Discount
print('Net amount', Net_amount)

Item 1: 360.0
Item 1: 342.0
Item 1: 350
Total amount: 1052.0
Net amount 1030.96