In [5]:
inp=input()

40000 2 12000

In [7]:
Monthly_rent= 40000
Vacant_months = 2
Annual_expenses = 12000

In [9]:
rental_income = Monthly_rent*10

In [11]:
print('Annual rent income:',rental_income-Annual_expenses)

Annual rent income: 388000

In [12]:
inp= int(input('Fixed Charges:'))
inp2= int(input('Units:'))
inp3= int(input('rates:'))

Fixed Charges:120
Units:90
rates:6

In [18]:
print('Amount on Units:',90*6)
print('Fixed Charges:',inp)
print('Total Amount:',(90*6)+inp)

Amount on Units: 540
Fixed Charges: 120
Total Amount: 660

### Problem 3: Distance Formula

In [32]:
inp= int(input("x1:"))
inp2= int(input('x2:'))
inp3= int(input('y1:'))
inp4= int(input('y2:'))

x1:2
x2:5
y1:3
y2:6

In [37]:
sub1= (inp2-inp)**2
sub1

9

In [38]:
sub2= (inp4-inp3)**2
sub2

9

In [40]:
dis= (sub1 + sub2)**0.5
dis

4.242640687119285

In [43]:
print(int(dis))

4

In [45]:
length= int(input())
width= int(input())
area= length*width
perimeter= 2*(length+width)

4
6

In [47]:
print('Area:',area)
print('Perimeter:',perimeter)

Area: 24
Perimeter: 20

In [52]:
n= float(input())
print('Square:',n**2)

5.75
Square: 33.0625

In [53]:
n1= float(input())
n2= float(input())
n3= float(input())

50.25
1.5
65
14.75

In [54]:
n4= n1+n2
print(n3-n4)

13.25

In [55]:
i_23= float(input())
j_23= float(input())
i_24= float(input())
j_24= float(input())

50.25
40.5
50.75
39.75

In [78]:
p= i_24 - i_23
y=j_24 - j_23
p+y

-0.25

In [75]:
y

-0.75

In [73]:
p

0.5

### Change per year

In [95]:
x1 = float(input())
x2 = float(input())
x3 = float(input())
y1 = x2-x1
y2 = x3-x2
p1= (y1*100)/x1
p2= (y2*100)/x2

100
120
142

In [96]:
print("Difference Second Year:",y1)
print("Difference Third Year:", y2)
print("Percentage Difference Second Year:",p1)
print("Percentage Difference Third Year", p2)

Difference Second Year: 20.0
Difference Third Year: 22.0
Percentage Difference Second Year: 20.0
Percentage Difference Third Year 18.333333333333332

In [90]:
p2= (y2*100)/x2

In [91]:
p2

18.333333333333332

In [92]:
y2

22.0

In [97]:
x1= int(input())
x2= int(input())
x3= int(input())
x4= int(input())
x5= int(input())
x6= int(input())
x7= int(input())
x8= int(input())
total = x1+x2+x3+x4+x5+x6+x7+x8

80
90
60
84
40
90
95
70

In [98]:
print('Eng:', x1, 100)
print('Urdu:', x2, 100)
print('Drawing:', x3,75)
print('Math :', x4, 100)
print('Sci:', x5, 75)
print('SST:', x6,100)
print('History :', x7, 100)
print('Phy.Edu:', x8, 100)
print('Total:', total)

Eng: 80 100
Urdu: 90 100
Drawing: 60 75
Math : 84 100
Sci: 40 75
SST: 90 100
History : 95 100
Phy.Edu: 70 100
Total: 609

In [106]:
z1,z2,z3= map(int, input().split())

6 8 5000

In [109]:
z1'*'+z2+'*'+z3

SyntaxError: invalid syntax (2220118012.py, line 1)

In [115]:
str(z1)+ '*'+str(z2)+'*'+str(z3)

'6*8*5000'

In [119]:
p1,p2= map(int, input().split())
print('Numerator:',p1+p2)
print('Denominator:', p1*p2)

6 8
Numerator: 14
Denominator: 48

In [123]:
(1//p1) + (1//p2)

0

In [125]:
Units, Rates, Charges= map(int, input().split())
Bill=  Units*Rates
print('Total Amount:',Bill+Charges)

220 22 200
Total Amount: 5040

In [2]:
p1,q1,d1= map(int, input().split())
p2,q2,d2= map(int, input().split())
p3,q3,d3= map(int, input().split())

80 5 10
120 3 5
70 5 0

In [128]:
c_d=float(input())
c_d

2

2.0

In [4]:
t1=p1*q1
t2=p2*q2
t3=p3*q3
print(t1)
print(t2)
print(t3)

400
360
350

In [7]:
t1_d= t1*0.10
t2_d= t2*0.05
t3_d= t3
print(t1_d)
print(t2_d)
print(t3_d)

40.0
18.0
350

In [9]:
p1_d=t1-t1_d
p2_d=t2-t2_d
p3_d=t3_d
print("Item 1:",p1_d)
print("Item 2:",p2_d)
print("Item 3:",p3_d)

Item 1: 360.0
Item 2: 342.0
Item 3: 350

In [11]:
total = p1_d+p2_d+p3_d
dis= total*0.02
print('Total Amount:',total)
print('Cash Discount:',dis)
print("Net Amount:", total-dis)

Total Amount: 1052.0
Cash Discount: 21.04
Net Amount: 1030.96

In [15]:
def performs(num1, num2, operation= "sum"):
    print(locals())
performs(1,2,operation= "sum")
print(num1)

{'num1': 1, 'num2': 2, 'operation': 'sum'}

NameError: name 'num1' is not defined

In [62]:
rimsha = '''
Rimsha is a good girl, because she wakes up early in the morning. 
Rimsha's mother is very possesive in regards of that she is
an innocent person. Her mom says she is very beautiful and great.
ok!

'''

In [51]:
def lowers(x):
    return rimsha.lower()
print(lowers(rimsha))

rimsha is a good girl, because she wakes up early in the morning.
rimsha's mother is very possesive in regards of that she is
an innocent person. her mom says she is very beautiful and great.
ok!

In [60]:
def removes(rimsha):
    punc= [" '", "!", ","]
    for i in punc:
        rimsha= rimsha.replace(i, " ")
    return rimsha
print(removes(rimsha))

Hello  World

In [58]:
def removes(rimsha):
    punc = ["'", "!", ","]
    for i in punc:
        rimsha = rimsha.replace(i, " ")  # Use 'i' instead of 'punc'
    return rimsha  # Return after the loop finishes

# Example usage
rimsha = "Hello, it's nice!"
print(removes(rimsha))

Hello  it s nice

In [63]:
rimsha

"\nRimsha is a good girl, because she wakes up early in the morning. \nRimsha's mother is very possesive in regards of that she is\nan innocent person. Her mom says she is very beautiful and great.\nok!\n\n"

In [64]:
def newline(rimsha):
    rimsha = rimsha.replace('\n'," ")
    return rimsha
print(newline(rimsha))

 Rimsha is a good girl, because she wakes up early in the morning.  Rimsha's mother is very possesive in regards of that she is an innocent person. Her mom says she is very beautiful and great. ok!

In [66]:
def removeshortwords(text, min_length=3):
    words = text.split()  # Split the text into a list of words
    long_words = [word for word in words if len(word) >= min_length]  # Filter out short words
    return " ".join(long_words)  # Join the remaining words back into a string

In [68]:
text = "Rimsha is my name"
result = removeshortwords(text)
print(result)  # Output: "learning Python programming"

Rimsha name

In [74]:
texts= text.split()

In [80]:
for i in texts:
    if len(i) >=3:
        print(i)

Rimsha
name

In [84]:
word = [i for i in texts if len(i) >=3]

In [85]:
word

['Rimsha', 'name']

In [89]:
nexts = ' '.join(word)

In [90]:
nexts

'Rimsha name'